services:
  warpstream-agent-kafka:
    # Normally this image, but I'm using local object storage with a custom CA
    # So we are building our own image with the CA included
    # image: public.ecr.aws/warpstream-labs/warpstream_agent:latest
    build:
      context: .
      dockerfile: Dockerfile.agent
    restart: unless-stopped
    command:
      - agent
    env_file: .env/warpstream-agent-kafka
    ports:
      - 9092:9092
  bento:
    image: ghcr.io/warpstreamlabs/bento
    restart: unless-stopped
    command:
      - --log.level
      - info
    volumes:
      - ./bento.yaml:/bento.yaml
    environment:
      REDIS_HOST: redis
    depends_on:
      redis:
        condition: service_healthy
  # bento-clickhouse:
  #   # Building custom image because sql_insert is bugged and only does a read only lock
  #   # image: ghcr.io/warpstreamlabs/bento
  #   build:
  #     context: ./bento
  #     dockerfile: resources/docker/Dockerfile.cgo
  #   restart: unless-stopped
  #   command:
  #     - --log.level
  #     - debug
  #   env_file: .env/bento-clickhouse
  #   volumes:
  #     - ./bento-clickhouse.yaml:/bento.yaml
  # warpstream-agent-tableflow:
  #   image: public.ecr.aws/warpstream-labs/warpstream_agent:unstable-timestampfrommessagevalue
  #   restart: unless-stopped
  #   command:
  #     - agent
  #   env_file: .env/warpstream-agent-tableflow
  #   secrets:
  #     - gcp_service_account_key
  redis:
    image: docker.io/library/redis:8
    restart: unless-stopped
    command:
      # Save a snapshot of the DB every 60 seconds if at least 1 write operation was performed
      - redis-server
      - --save
      - "60"
      - "1"
      - --loglevel warning
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    volumes:
      - redis:/data

volumes:
  redis: {}
